# Mac system files
.DS_store

#notebook checkpoints
**/*.ipynb_checkpoints/

#neural_style_transfer weights
image_processing/neural_style_transfer/pretrained-model/*

#word embeddings
NLP/embeddings/*

#data files too large to upload
data/*
